# Likes Report
#### Kendall Williams 9/10/2025

## Section 1 - Introduction Questions

#### Who or what is the source of your personal Instagram data?
I created the data on my account through my useage of the app. The data came from my Instagram account directly. 

#### Why was this data created and what purposes can the data serve?
This data was likely created to measure what I like to push more content for me to interact with. 

#### In what ways may this data be reliable?
This data can be reliable because I have consistantly used Instagram for years and this data has been logged over the period of a year. 

#### In what ways may this data be unreliable?
This data can be unreliable because sometimes the algorithm on Instagram will push certain content to your page. Additionally, there could be some data inconsitencies with Meta's acquisiton of Instagram.

## Section 2 — Load Instagram Likes JSON

In [2]:
# these are the imports
import json 
import pandas as pd
import matplotlib as plt

In [10]:
# loading json data 
path = r"\Users\kwill\Downloads\instagram-kwilla_-2025-08-27-UwK62wtJ\your_instagram_activity\likes\liked_posts.json"
with open(path) as l:
    dict = json.load (l)

## Section 3 — Build a Tidy DataFrame from Likes

In [11]:
# converting data to DataFrame and assign it to a new variable using pandas
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'anokyai', 'string_list_data': [{'hr...
1  {'title': 'csiriano', 'string_list_data': [{'h...
2  {'title': 'avav3nue', 'string_list_data': [{'h...
3  {'title': 'treaclychild', 'string_list_data': ...
4  {'title': '_karialexandra', 'string_list_data'...

In [12]:
dict.keys()

dict_keys(['likes_media_likes'])

In [17]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

            title                                   string_list_data
0         anokyai  [{'href': 'https://www.instagram.com/p/DN3Z2aJ...
1        csiriano  [{'href': 'https://www.instagram.com/reel/DN3h...
2        avav3nue  [{'href': 'https://www.instagram.com/p/DNgzU7O...
3    treaclychild  [{'href': 'https://www.instagram.com/p/DN0wKni...
4  _karialexandra  [{'href': 'https://www.instagram.com/reel/DN1c...

In [40]:
# grabbing first element from list to see how data is structured
df_tidy.iloc[0]

title                                                         anokyai
string_list_data    [{'href': 'https://www.instagram.com/p/DN3Z2aJ...
Time of Like                                               1756318162
href                         https://www.instagram.com/p/DN3Z2aJ4vc2/
Date of Like                                      2025-08-27 14:09:22
Name: 0, dtype: object

## Section 4 - Create a Timestamp Column

In [41]:
# isolating timestamp value 
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DN3Z2aJ4vc2/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1756318162}]

In [42]:
# returns object w/o brackets
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DN3Z2aJ4vc2/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1756318162}

In [43]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756318162

In [44]:
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Like,href,Date of Like
0,anokyai,1756318162,https://www.instagram.com/p/DN3Z2aJ4vc2/,2025-08-27 14:09:22
1,csiriano,1756318148,https://www.instagram.com/reel/DN3hN1CYuUb/,2025-08-27 14:09:08
2,avav3nue,1756318110,https://www.instagram.com/p/DNgzU7Ot0-z/,2025-08-27 14:08:30
3,treaclychild,1756312860,https://www.instagram.com/p/DN0wKni4lYt/,2025-08-27 12:41:00
4,_karialexandra,1756260579,https://www.instagram.com/reel/DN1c8oi3moU/,2025-08-26 22:09:39
...,...,...,...,...
2396,col.thedoll,1724867507,https://www.instagram.com/p/C_LglqUA6C0/,2024-08-28 13:51:47
2397,culted,1724867475,https://www.instagram.com/p/C_LsJAfMYDK/,2024-08-28 13:51:15
2398,lana.autry,1724867447,https://www.instagram.com/p/C_NyEnfuL12/,2024-08-28 13:50:47
2399,theelement.mag,1724866336,https://www.instagram.com/p/C_OKFJexb7c/,2024-08-28 13:32:16
2400,thefabricpantry_ksu,1724866022,https://www.instagram.com/p/C_OKB5Ax8lu/,2024-08-28 13:27:02

In [45]:
# how to create a new column (extracting timestamp from table)

df_tidy['Time of Like'] = [ i [0]['timestamp'] for i in df_tidy['string_list_data']] 

df_tidy.head()

,title,string_list_data,Time of Like,href,Date of Like
0,anokyai,[{'href': 'https://www.instagram.com/p/DN3Z2aJ...,1756318162,https://www.instagram.com/p/DN3Z2aJ4vc2/,2025-08-27 14:09:22
1,csiriano,[{'href': 'https://www.instagram.com/reel/DN3h...,1756318148,https://www.instagram.com/reel/DN3hN1CYuUb/,2025-08-27 14:09:08
2,avav3nue,[{'href': 'https://www.instagram.com/p/DNgzU7O...,1756318110,https://www.instagram.com/p/DNgzU7Ot0-z/,2025-08-27 14:08:30
3,treaclychild,[{'href': 'https://www.instagram.com/p/DN0wKni...,1756312860,https://www.instagram.com/p/DN0wKni4lYt/,2025-08-27 12:41:00
4,_karialexandra,[{'href': 'https://www.instagram.com/reel/DN1c...,1756260579,https://www.instagram.com/reel/DN1c8oi3moU/,2025-08-26 22:09:39

In [46]:
# converting numbers into readable date
from datetime import datetime
df_tidy['Date of Like'] = [datetime.fromtimestamp(i[0]['timestamp'])for i in df_tidy['string_list_data']]

In [47]:
df_tidy.head()

,title,string_list_data,Time of Like,href,Date of Like
0,anokyai,[{'href': 'https://www.instagram.com/p/DN3Z2aJ...,1756318162,https://www.instagram.com/p/DN3Z2aJ4vc2/,2025-08-27 14:09:22
1,csiriano,[{'href': 'https://www.instagram.com/reel/DN3h...,1756318148,https://www.instagram.com/reel/DN3hN1CYuUb/,2025-08-27 14:09:08
2,avav3nue,[{'href': 'https://www.instagram.com/p/DNgzU7O...,1756318110,https://www.instagram.com/p/DNgzU7Ot0-z/,2025-08-27 14:08:30
3,treaclychild,[{'href': 'https://www.instagram.com/p/DN0wKni...,1756312860,https://www.instagram.com/p/DN0wKni4lYt/,2025-08-27 12:41:00
4,_karialexandra,[{'href': 'https://www.instagram.com/reel/DN1c...,1756260579,https://www.instagram.com/reel/DN1c8oi3moU/,2025-08-26 22:09:39

In [48]:
df_tidy['href'] = [ i [0]['href'] for i in df_tidy['string_list_data']] 
df_tidy.head()

,title,string_list_data,Time of Like,href,Date of Like
0,anokyai,[{'href': 'https://www.instagram.com/p/DN3Z2aJ...,1756318162,https://www.instagram.com/p/DN3Z2aJ4vc2/,2025-08-27 14:09:22
1,csiriano,[{'href': 'https://www.instagram.com/reel/DN3h...,1756318148,https://www.instagram.com/reel/DN3hN1CYuUb/,2025-08-27 14:09:08
2,avav3nue,[{'href': 'https://www.instagram.com/p/DNgzU7O...,1756318110,https://www.instagram.com/p/DNgzU7Ot0-z/,2025-08-27 14:08:30
3,treaclychild,[{'href': 'https://www.instagram.com/p/DN0wKni...,1756312860,https://www.instagram.com/p/DN0wKni4lYt/,2025-08-27 12:41:00
4,_karialexandra,[{'href': 'https://www.instagram.com/reel/DN1c...,1756260579,https://www.instagram.com/reel/DN1c8oi3moU/,2025-08-26 22:09:39

## Section 5 — Summarize Likes by Account

In [49]:
# grouping likes based on instagram handle or user
df_tidy.groupby('title').count().sort_values('Time of Like', ascending = False)

                            string_list_data  Time of Like  href  Date of Like
title
culted                                   213           213   213           213
i_d                                       61            61    61            61
harpersbazaarus                           52            52    52            52
voguemagazine                             51            51    51            51
voguerunway                               49            49    49            49
...                                      ...           ...   ...           ...
daphne_always                              1             1     1             1
danyelle.weathers.creative                 1             1     1             1
neele.mrie                                 1             1     1             1
newyorkermag                               1             1     1             1
0to9lab                                    1             1     1             1

[460 rows x 4 columns]

## Section 6 — Hypothesis Framing 
#### State Your Hypothesis 
I think because I tend to like posts from accounts like culted and i_d, that my comment likes will reflect similar accounts. 

#### Theoretical Elements
The rational that is motivating this hypothesis is because I tend to be shown certain accounts more on my feed that I interact with via liking the post, that interaction would further motivate me to like a comment under that post. 

#### Statistical Elements
Statistically I will similarly focus on the accounts and time that I like comments on Instagram and compare that to the previous data.

## Section 7 and 8  Choose an Additional JSON File to Test Your Hypothesis and Load it

In [125]:
# loading json data 
path = r"\Users\kwill\Downloads\instagram-kwilla_-2025-08-27-UwK62wtJ\your_instagram_activity\likes\liked_comments.json"
with open(path) as l:
    dict = json.load (l)

In [126]:
# converting data to DataFrame and assign it to a new variable using pandas
df = pd.DataFrame(dict)
df.head()

                                 likes_comment_likes
0  {'title': 'm.chung06', 'string_list_data': [{'...
1  {'title': 'm.chung06', 'string_list_data': [{'...
2  {'title': 'jordan_chadwick16', 'string_list_da...
3  {'title': 'eshani.dutta', 'string_list_data': ...
4  {'title': 'aliisontownsend', 'string_list_data...

## Section 9 — Create the Most Tidy DataFrame Possible

In [127]:
dict.keys()

dict_keys(['likes_comment_likes'])

In [128]:
df_tidy = pd.DataFrame(dict['likes_comment_likes'])
df_tidy.head()

               title                                   string_list_data
0          m.chung06  [{'href': 'https://www.instagram.com/p/DNCQ8kN...
1          m.chung06  [{'href': 'https://www.instagram.com/p/DMg5ZPf...
2  jordan_chadwick16  [{'href': 'https://www.instagram.com/p/DMCTb2A...
3       eshani.dutta  [{'href': 'https://www.instagram.com/p/DL7aIbn...
4    aliisontownsend  [{'href': 'https://www.instagram.com/p/DLVnTTp...

In [129]:
# grabbing first element from list to see how data is structured
df_tidy.iloc[0]

title                                                       m.chung06
string_list_data    [{'href': 'https://www.instagram.com/p/DNCQ8kN...
Name: 0, dtype: object

In [130]:
# isolating timestamp value 
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DNCQ8kNxCpG/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1754695810}]

In [131]:
# returns object w/o brackets
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DNCQ8kNxCpG/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1754695810}

In [132]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1754695810

In [133]:
df_tidy.drop(columns = ['string_list_data'])

                title
0           m.chung06
1           m.chung06
2   jordan_chadwick16
3        eshani.dutta
4     aliisontownsend
5     maddiezielinsky
6     maddiezielinsky
7     miranda.chunggg
8       jaredsspamman
9     aliisontownsend
10        mochiiipops
11   _marianna.young_
12       rizz_aballsa
13       heavyncymone
14       kannonsimone
15         riandaviss
16    aliisontownsend
17      jay._voyles._
18        mochiiipops
19      briannabrault
20  jordan_chadwick16
21       rizz_aballsa
22        mochiiipops
23    aliisontownsend
24    cooper.odonovan
25   _marianna.young_
26      lizziemazzola
27    aliisontownsend
28  jordan_chadwick16
29         riandaviss
30    miranda.chunggg
31        mochiiipops
32       rizz_aballsa
33  jordan_chadwick16
34  jordan_chadwick16
35        mochiiipops
36  jordan_chadwick16
37      jaredsspamman
38          m.chung06
39       rizz_aballsa

In [134]:
# how to create a new column (extracting timestamp from table)

df_tidy['Time of Like'] = [ i [0]['timestamp'] for i in df_tidy['string_list_data']] 

df_tidy.head()

,title,string_list_data,Time of Like
0,m.chung06,[{'href': 'https://www.instagram.com/p/DNCQ8kN...,1754695810
1,m.chung06,[{'href': 'https://www.instagram.com/p/DMg5ZPf...,1753539646
2,jordan_chadwick16,[{'href': 'https://www.instagram.com/p/DMCTb2A...,1752440577
3,eshani.dutta,[{'href': 'https://www.instagram.com/p/DL7aIbn...,1752246921
4,aliisontownsend,[{'href': 'https://www.instagram.com/p/DLVnTTp...,1750960078

In [137]:
# converting numbers into readable date
from datetime import datetime
df_tidy['Date of Like'] = [datetime.fromtimestamp(i[0]['timestamp'])for i in df_tidy['string_list_data']]

In [138]:
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like
0,m.chung06,[{'href': 'https://www.instagram.com/p/DNCQ8kN...,1754695810,2025-08-08 19:30:10
1,m.chung06,[{'href': 'https://www.instagram.com/p/DMg5ZPf...,1753539646,2025-07-26 10:20:46
2,jordan_chadwick16,[{'href': 'https://www.instagram.com/p/DMCTb2A...,1752440577,2025-07-13 17:02:57
3,eshani.dutta,[{'href': 'https://www.instagram.com/p/DL7aIbn...,1752246921,2025-07-11 11:15:21
4,aliisontownsend,[{'href': 'https://www.instagram.com/p/DLVnTTp...,1750960078,2025-06-26 13:47:58

In [139]:
df_tidy['href'] = [ i [0]['href'] for i in df_tidy['string_list_data']] 
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href
0,m.chung06,[{'href': 'https://www.instagram.com/p/DNCQ8kN...,1754695810,2025-08-08 19:30:10,https://www.instagram.com/p/DNCQ8kNxCpG/
1,m.chung06,[{'href': 'https://www.instagram.com/p/DMg5ZPf...,1753539646,2025-07-26 10:20:46,https://www.instagram.com/p/DMg5ZPfuwSN/
2,jordan_chadwick16,[{'href': 'https://www.instagram.com/p/DMCTb2A...,1752440577,2025-07-13 17:02:57,https://www.instagram.com/p/DMCTb2ANa_Z/
3,eshani.dutta,[{'href': 'https://www.instagram.com/p/DL7aIbn...,1752246921,2025-07-11 11:15:21,https://www.instagram.com/p/DL7aIbnTWy1/
4,aliisontownsend,[{'href': 'https://www.instagram.com/p/DLVnTTp...,1750960078,2025-06-26 13:47:58,https://www.instagram.com/p/DLVnTTpOLPK/

In [140]:
# grouping likes based on instagram handle or user
df_tidy.groupby('title').count().sort_values('Time of Like', ascending = False)

                   string_list_data  Time of Like  Date of Like  href
title
jordan_chadwick16                 6             6             6     6
aliisontownsend                   5             5             5     5
mochiiipops                       5             5             5     5
rizz_aballsa                      4             4             4     4
m.chung06                         3             3             3     3
jaredsspamman                     2             2             2     2
maddiezielinsky                   2             2             2     2
miranda.chunggg                   2             2             2     2
riandaviss                        2             2             2     2
_marianna.young_                  2             2             2     2
eshani.dutta                      1             1             1     1
heavyncymone                      1             1             1     1
jay._voyles._                     1             1             1     1
cooper.odonovan                   1             1             1     1
kannonsimone                      1             1             1     1
lizziemazzola                     1             1             1     1
briannabrault                     1             1             1     1

## Section 10 — Interpretation & Tidy Assessment (Markdown)
#### What Does the Data Represent?
The data shows the date and time of like in correlation to the comments I liked.

#### Does This Meet Tidy Principles?
I think for the most part my data does meet the Tidy Principles. If I could fix anything I would make the list show only the accounts with the most liked comments. 

#### Can This Data Test Your Hypothesis?
I think this data can partially test my hypothesis. I think to make the data even more clear I would focus on the most liked accounts.